<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link rel="stylesheet" href="/css_admin/style.css">
</head>
<body>

	<header th:replace="fragments/padrao :: cabecalho"></header>

 	<nav class="navegacoa-lateral">
		<div th:replace="fragments/padrao :: nav-lateral"></div>
	</nav>

	<div class="container centro">
		<table class="table">
		<thead class="thead-dark">
			<tr>
				<th>Id</th>
				<th>Nome do Filme</th>
				<th>Gênero</th>
				<th>Data Lamçamento</th>
				<th>Diretor</th>
				<th>Elenco</th>
				<th>Faixa Etária</th>
				<th>Descrição</th>
				<th>Alterar</th>
				<th>Excluir</th>
			</tr>
		</thead>
		<tbody>
			<!--  th:each = Foreach-->
			<tr th:each="film : ${filmes}">
				<td th:text="${film.idFilme}" />
				<!-- th:text, QUANDO FOR EMBUTIR ALGO DENTRO DA TAG  EXIBINDO COLUNA COM VALOR -->
				<td th:text="${film.nomeFilme}" />
				<td th:text="${film.genero}" />
				<td th:text="${film.anoGravacao}" />
				<td th:text="${film.diretor}" />
				<td th:text="${film.elenco}" />
				<td th:text="${film.faixaIdade}" />
				<td th:text="${film.descricao}" />
				<td><a th:href="@{/alterarFilme(id=${film.idFilme})}">Alterar</a></td>
				<td><a th:href="@{/deletarFilme(id=${film.idFilme})}">Excluir</a></td>




				<!--  th:attr="onClick=|return confirm('Deseja excluir o ID: ${c.id}')"  JAVASCRIPT, attr PARA INCLUIR O JAVASCRIPT-->

			</tr>

		</tbody>
	</table>

	</div>

</body>
</html>