<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DemandFlix | login</title>
    <link rel="stylesheet" href="cssLogin/stylelogin.css">
</head>
<body>
    
   <div class="center">
        <aside>
            <div class="top">

                <div class="logo">
                    <img src="images/logo.png" >
                    <h2>FI<span class="danger">lmes</span></h2>
                </div>
        
                <div class="close" id="close-btn">
                    <span class="material-icons-sharp">close</span>
                </div>
        
            </div>
        </aside>

        <div class="content-form">

        <form action="login"  class="form-autentication-login">
            
            <div class="title-form">
                <legend>LOGIN</legend>
            </div>
            
            <div class="content-items-form">

                <label for="email">Email:</label>
                <input type="email" class="login-input" name="email" id="email" required="required" placeholder="Insira o seu email*">

                <label for="password">Senha:</label>
                <input type="password" class="login-input" name="senha" id="password" required="required" placeholder="Insira sua senha*">

                <button type="submit">Login</button>
            </div>
            
        </form>

    </div>
   </div>

</body>
</html>